<% provide(:title, "About") %>
<h1>Sports App -- About Us</h1>

<h2>Why Another Sports App?</h2>
<p>
  We hope this will become a place where true sports fans come to get up to date statistics about their favorite sports.  We intend to include statics and analysis about NFL football, Major League Baseball, NBA basketball, and other sports.  We are just in the construction process, so drop us an email and let us know what you think.
</p>

<h2>What Will I Find Here?</h2>
<p>
  Statistics and analysis -- that we plan to call a forecast -- about professional sports.  Information that could be of help to Fantasy Sports participants as well as for wagering.  NOTE: We are not encourageing betting on sports even if it is legal where you reside.
</p>
<p>
  A blog, or discussion area, where users can discuss sports or whatever is on their minds.  We hope we can keep this to civil discourse; we are aware that the internet tends to flame wars.  Any discussion that we find offensive, or inappropriate -- should be interpreted as disrespectful -- will be removed.  We hope this can become a safe and sane locale for discussing sports.
</p>
<p>
  Anything else that users may want, drop us an email and we may try to oblige you.
</p>
