<% provide(:title, "Home") %>
<h1>Sports App</h1>
<p>
  This is the Home Page for the Sports App (Under Construction)
</p>

<p>
  We intend to have sections, or areas, about different sports. Football, basketball, baseball and others, where users can view up-to-date statistics and participate in discussions.
</p>
